project:
  key: {{JIRA_KEY}}
  name: {{PRODUCT_NAME}}
  config_dir: {{CONFIG_DIR}}

jira:
  base_url: {{JIRA_BASE_URL}}
  jql: |
    {{JIRA_JQL}}

sources: {{SOURCE_REPOS_YAML_LIST}}

lint:
  flaggable_nouns: []
  brand_nouns: {{BRAND_TERMS_YAML_LIST}}
